.index
	width 100%
	height 100vh
	display flex
	justify-content center
	align-items center
	background-image url("~assets/img/temp/background.jpg")
	background-size cover
	background-repeat no-repeat
	background-position top

	&__blur
		position absolute
		top 0
		left 0
		backdrop-filter blur(3px)
		width 100%
		height 100%

