<template>
	<img class="ui-avatar" :class="`_${size}`" :src="src" />
</template>

<script>
export default {
	name: 'ui-avatar',
	data() {
		return {}
	},
	props: {
		src: String,
		size: {
			type: String,
			default: 'middle'
		}
	}
}
</script>
