// Переменные цветовой-палитры
:root
	--color-ui #465EFD
	--color-chat-background #FFFFFF
	--color-chat-border #e0e0e0
	--color-chat-text #000000
	--color-chat-text-thin #979798
	--color-chat-message #ecf1f9
	--color-chat-message-master #BCDFFB

// Закругления
$border-radius = 12px
$circle-radius = 1000px
