<template>
	<div class="chat__input">
		<button class="chat__input-send" @click.prevent="send" v-if="!!message">
			<icon-send />
		</button>
		<input
			v-model="message"
			placeholder="Type a message here"
			class="chat__input-message"
			@keydown.enter="send"
		/>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import iconSend from '~/assets/img/icons/icon-send.svg'

export default {
	name: 'chat-input',
	components: {
		iconSend
	},
	data() {
		return {
			message: ''
		}
	},
	methods: {
		...mapActions({
			sendMessage: 'chats/sendMessage'
		}),
		send() {
			this.sendMessage(this.message)
			this.message = ''
		}
	}
}
</script>
