<template>
	<div class="chat">
		<chat-header />
		<chat-body />
		<chat-input />
	</div>
</template>

<script>
import chatHeader from './chat-header.vue'
import chatBody from './chat-body.vue'
import chatInput from './chat-input.vue'

export default {
	name: 'chat',
	components: {
		chatHeader,
		chatBody,
		chatInput
	},
	data() {
		return {}
	}
}
</script>
