<template>
	<div class="chat__header">
		<button class="chat__header-intro">
			<ui-avatar :src="require('~/assets/img/temp/avatar-bener.jpeg')" />
			<span class="chat__header-text">
				<span>Doctor Bener</span>
				<span class="chat__header-position">
					Hulk
				</span>
			</span>
		</button>
	</div>
</template>

<script>
export default {
	name: 'chat-header',
	data() {
		return {}
	}
}
</script>
