<template>
	<div class="chat__body">
		<div class="chat__body-preloader" v-if="!getChats.length">
			<icon-loading-arrow class="chat__body-preloader-icon" />
		</div>
		<chat-message
			v-else
			v-for="(chat, index) in getChats"
			:key="index"
			:data="chat"
		/>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import chatMessage from './chat-message.vue'
const iconLoadingArrow = () =>
	import(
		/* webpackChunkName: "icon-loading-arrow" */ '~/assets/img/icons/icon-loading-arrow.svg'
	)

export default {
	name: 'chat-body',
	components: {
		chatMessage,
		iconLoadingArrow
	},
	data() {
		return {}
	},
	computed: {
		...mapGetters({
			getChats: 'chats/getChats'
		})
	}
}
</script>
