<template>
	<div class="chat__message" :class="{ _master: data.isMaster }">
		<div class="chat__message-avatar">
			<ui-avatar
				v-if="!data.isMaster"
				:src="data.profile.avatar"
				size="small"
			/>
		</div>
		<div class="chat__message-item">
			<p class="chat__message-name">
				{{ data.profile.name }}
			</p>
			<div class="chat__message-row">
				<div class="chat__message-text">
					{{ data.message }}
				</div>
				<div class="chat__message-info">
					<p class="chat__message-time">
						{{ data.time }}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'chat-message',
	data() {
		return {}
	},
	props: {
		data: Object
	},
	computed: {
		profile() {
			return this.data.profile
		}
	}
}
</script>
