<template>
	<div class="index">
		<div class="index__blur" />
		<chat />
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import chat from '~/components/chat/chat.vue'

export default {
	name: 'index',
	components: { chat },
	data() {
		return {}
	},
	async fetch() {
		await this.fetchChats()
	},
	methods: {
		...mapActions({
			fetchChats: 'chats/fetchChats'
		})
	}
}
</script>
