.chat__input
	position relative
	background-color var(--color-chat-background)
	border-radius 0 0 $border-radius $border-radius

	&-send
		position absolute
		top 20px
		right 13px

	&-message
		display flex
		justify-content center
		align-items center
		height 62px
		width 100%
		margin auto
		line-height 24px
		padding-top 15px
		padding-right 80px
		padding-bottom 14px
		padding-left 51px
		border none
		outline none
		color var(--color-chat-text)
		font-size 16px
		background-color transparent
		border-top 1px solid var(--color-chat-border)
