.chat__message
	display flex
	justify-content space-between
	margin-bottom 10px

	&-avatar
		height auto
		min-width 40px
		display flex
		justify-content flex-start
		align-items flex-start

	&-item
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-start
		border-radius 0 10px 10px 10px
		background-color var(--color-chat-message)
		padding 6px 12px
		margin-right auto
		word-wrap break-word

	&._master &-item
		margin-left auto
		margin-right 0
		background-color var(--color-chat-message-master)
		border-radius 10px 0 10px 10px

	&-row
		display flex
		flex-wrap wrap
		justify-content flex-end
		align-items center

	&-name
		color var(--color-ui)
		font-size 14px

	&-text
		font-size 15px
		max-width 223px
		text-align left
		color var(--color-chat-text)

	&-info
		display flex
		justify-content center
		align-items center
		margin-left 15px

	&-time
		font-size 12px
		margin-left 3px
		color var(--color-chat-text-thin)
