.chat__body
	padding 13px
	height 320px
	background-color var(--color-chat-background)
	overflow-y auto

	&-preloader
		display flex
		justify-content center
		align-items center
		height 100%
		width 100%

		&-icon
			animation 1s linear 0s normal none infinite running circle-load
			-webkit-animation 1s linear 0s normal none infinite running circle-load
