.chat__header
	overflow hidden
	display flex
	justify-content flex-start
	align-items center
	padding 10px 13px
	border-top-left-radius $border-radius
	border-top-right-radius $border-radius
	border-bottom 1px solid var(--color-chat-border)
	background-color var(--color-chat-background)

	&-text
		display flex
		flex-direction column
		color var(--color-chat-text)
		line-height 21px
		font-size 14px
		margin-left 16px
		text-align left

	&-intro
		display flex
		justify-content flex-start
		align-items center

	&-position
		font-size 12px
		line-height 18px
		color var(--color-chat-text-thin)
